@import '_fonts';

/*--------HEADER----------*/

.header{
  background: url('../img/headerBg.png') no-repeat 0 0;
  height:1064px;
}

.container{
  height:1064px;
}

.header-nav{
  height:90px;
  border-bottom: 1px solid rgb(46,47,49);
}

.logo{
  height: inherit;
  line-height: 90px;
}

.header-menu{
  height:90px;
  line-height: 90px;
  float:left;
  text-align: right;
  padding-right: 0;
}

.header-menu-list{
  display: inline-block;
  list-style: none;
  padding:0;
  margin:0;
}

.header-menu-item{
  float:left;
  position: relative;
  padding-left: 34px;
  padding-right: 34px;
}


.header-menu-link{
  position: relative;
  display: inline-block;
  height: 56px;
  text-decoration: none;
  font: 16px Lato-Regular;
  color:white;
}

.header-menu-last-item{
  padding-right: 0;
}

.header-menu-link:hover{
  border-bottom: 1px solid white;
}

.greeting{
  height:855px;
  text-align: center;
  width: 100%;
  display: table;

    h1{
      margin:0;
      text-transform: uppercase;
      color: white;
      font-family: 'Myriad Pro';
      font-size: 72px;
      font-weight: 700;
    }

    p{
      color: white;
      font-family: 'Georgia';
      font-size: 32px;
      font-style: italic;
      line-height: 47px;
    }
}

.greeting-align{
  display: table-cell;
  vertical-align: middle;
  height: inherit;
}
/*--------END HEADER----------*/