@font-face {
  font-family: 'Lato-Black';
  src: url("../fonts/Lato-Black.eot");
  src: local("?"), url("../fonts/Lato-Black.woff") format("woff"), url("../fonts/Lato-Black.ttf") format("truetype"), url("../fonts/Lato-Black.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato-Bold';
  src: url("../fonts/Lato-Bold.eot");
  src: local("?"), url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.ttf") format("truetype"), url("../fonts/Lato-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato-Heavy';
  src: url("../fonts/Lato-Heavy.eot");
  src: local("?"), url("../fonts/Lato-Heavy.woff") format("woff"), url("../fonts/Lato-Heavy.ttf") format("truetype"), url("../fonts/Lato-Heavy.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato-Light';
  src: url("../fonts/Lato-Light.eot");
  src: local("?"), url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.ttf") format("truetype"), url("../fonts/Lato-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato-LightItalic';
  src: url("../fonts/Lato-LightItalic.eot");
  src: local("?"), url("../fonts/Lato-LightItalic.woff") format("woff"), url("../fonts/Lato-LightItalic.ttf") format("truetype"), url("../fonts/Lato-LightItalic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato-Medium';
  src: url("../fonts/Lato-Medium.eot");
  src: local("?"), url("../fonts/Lato-Medium.woff") format("woff"), url("../fonts/Lato-Medium.ttf") format("truetype"), url("../fonts/Lato-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato-Regular';
  src: url("../fonts/Lato-Regular.eot");
  src: local("?"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato-Semibold';
  src: url("../fonts/Lato-Semibold.eot");
  src: local("?"), url("../fonts/Lato-Semibold.woff") format("woff"), url("../fonts/Lato-Semibold.ttf") format("truetype"), url("../fonts/Lato-Semibold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato-Thin';
  src: url("../fonts/Lato-Thin.eot");
  src: local("?"), url("../fonts/Lato-Thin.woff") format("woff"), url("../fonts/Lato-Thin.ttf") format("truetype"), url("../fonts/Lato-Thin.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat-UltraLight';
  src: url("../fonts/Montserrat-UltraLight.eot");
  src: local("?"), url("../fonts/Montserrat-UltraLight.woff") format("woff"), url("../fonts/Montserrat-UltraLight.ttf") format("truetype"), url("../fonts/Montserrat-UltraLight.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

/*--------HEADER----------*/
.header {
  background: url("../img/headerBg.png") no-repeat 0 0;
  height: 1064px; }

.container {
  height: 1064px; }

.header-nav {
  height: 90px;
  border-bottom: 1px solid #2e2f31; }

.logo {
  height: inherit;
  line-height: 90px; }

.header-menu {
  height: 90px;
  line-height: 90px;
  float: left;
  text-align: right;
  padding-right: 0; }

.header-menu-list {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0; }

.header-menu-item {
  float: left;
  position: relative;
  padding-left: 34px;
  padding-right: 34px; }

.header-menu-link {
  position: relative;
  display: inline-block;
  height: 56px;
  text-decoration: none;
  font: 16px Lato-Regular;
  color: white; }

.header-menu-last-item {
  padding-right: 0; }

.header-menu-link:hover {
  border-bottom: 1px solid white; }

/*--------END HEADER----------*/

/*# sourceMappingURL=data:application/json;base64,ewoJInZlcnNpb24iOiAzLAoJImZpbGUiOiAic3R5bGUuY3NzIiwKCSJzb3VyY2VzIjogWwoJCSJzdHlsZS5zY3NzIiwKCQkiX2ZvbnRzLnNjc3MiCgldLAoJIm5hbWVzIjogW10sCgkibWFwcGluZ3MiOiAiQUNBQSxVQUFVO0VBQ1IsV0FBVyxFQUFFLFlBQVk7RUFDekIsR0FBRyxFQUFFLDhCQUE4QjtFQUNuQyxHQUFHLEVBQUUsVUFBVSxFQUNWLCtCQUErQixDQUFDLGNBQWMsRUFDOUMsOEJBQThCLENBQUMsa0JBQWtCLEVBQ2pELDhCQUE4QixDQUFDLGFBQWE7RUFDakQsV0FBVyxFQUFFLE1BQU07RUFDbkIsVUFBVSxFQUFFLE1BQU07O0FBR3BCLFVBQVU7RUFDUixXQUFXLEVBQUUsV0FBVztFQUN4QixHQUFHLEVBQUUsNkJBQTZCO0VBQ2xDLEdBQUcsRUFBRSxVQUFVLEVBQ1YsOEJBQThCLENBQUMsY0FBYyxFQUM3Qyw2QkFBNkIsQ0FBQyxrQkFBa0IsRUFDaEQsNkJBQTZCLENBQUMsYUFBYTtFQUNoRCxXQUFXLEVBQUUsTUFBTTtFQUNuQixVQUFVLEVBQUUsTUFBTTs7QUFHcEIsVUFBVTtFQUNSLFdBQVcsRUFBRSxZQUFZO0VBQ3pCLEdBQUcsRUFBRSw4QkFBOEI7RUFDbkMsR0FBRyxFQUFFLFVBQVUsRUFDViwrQkFBK0IsQ0FBQyxjQUFjLEVBQzlDLDhCQUE4QixDQUFDLGtCQUFrQixFQUNqRCw4QkFBOEIsQ0FBQyxhQUFhO0VBQ2pELFdBQVcsRUFBRSxNQUFNO0VBQ25CLFVBQVUsRUFBRSxNQUFNOztBQUdwQixVQUFVO0VBQ1IsV0FBVyxFQUFFLFlBQVk7RUFDekIsR0FBRyxFQUFFLDhCQUE4QjtFQUNuQyxHQUFHLEVBQUUsVUFBVSxFQUNWLCtCQUErQixDQUFDLGNBQWMsRUFDOUMsOEJBQThCLENBQUMsa0JBQWtCLEVBQ2pELDhCQUE4QixDQUFDLGFBQWE7RUFDakQsV0FBVyxFQUFFLE1BQU07RUFDbkIsVUFBVSxFQUFFLE1BQU07O0FBR3BCLFVBQVU7RUFDUixXQUFXLEVBQUUsa0JBQWtCO0VBQy9CLEdBQUcsRUFBRSxvQ0FBb0M7RUFDekMsR0FBRyxFQUFFLFVBQVUsRUFDVixxQ0FBcUMsQ0FBQyxjQUFjLEVBQ3BELG9DQUFvQyxDQUFDLGtCQUFrQixFQUN2RCxvQ0FBb0MsQ0FBQyxhQUFhO0VBQ3ZELFdBQVcsRUFBRSxNQUFNO0VBQ25CLFVBQVUsRUFBRSxNQUFNOztBQUdwQixVQUFVO0VBQ1IsV0FBVyxFQUFFLGFBQWE7RUFDMUIsR0FBRyxFQUFFLCtCQUErQjtFQUNwQyxHQUFHLEVBQUUsVUFBVSxFQUNWLGdDQUFnQyxDQUFDLGNBQWMsRUFDL0MsK0JBQStCLENBQUMsa0JBQWtCLEVBQ2xELCtCQUErQixDQUFDLGFBQWE7RUFDbEQsV0FBVyxFQUFFLE1BQU07RUFDbkIsVUFBVSxFQUFFLE1BQU07O0FBR3BCLFVBQVU7RUFDUixXQUFXLEVBQUUsY0FBYztFQUMzQixHQUFHLEVBQUUsZ0NBQWdDO0VBQ3JDLEdBQUcsRUFBRSxVQUFVLEVBQ1YsaUNBQWlDLENBQUMsY0FBYyxFQUNoRCxnQ0FBZ0MsQ0FBQyxrQkFBa0IsRUFDbkQsZ0NBQWdDLENBQUMsYUFBYTtFQUNuRCxXQUFXLEVBQUUsTUFBTTtFQUNuQixVQUFVLEVBQUUsTUFBTTs7QUFHcEIsVUFBVTtFQUNSLFdBQVcsRUFBRSxlQUFlO0VBQzVCLEdBQUcsRUFBRSxpQ0FBaUM7RUFDdEMsR0FBRyxFQUFFLFVBQVUsRUFDVixrQ0FBa0MsQ0FBQyxjQUFjLEVBQ2pELGlDQUFpQyxDQUFDLGtCQUFrQixFQUNwRCxpQ0FBaUMsQ0FBQyxhQUFhO0VBQ3BELFdBQVcsRUFBRSxNQUFNO0VBQ25CLFVBQVUsRUFBRSxNQUFNOztBQUdwQixVQUFVO0VBQ1IsV0FBVyxFQUFFLFdBQVc7RUFDeEIsR0FBRyxFQUFFLDZCQUE2QjtFQUNsQyxHQUFHLEVBQUUsVUFBVSxFQUNWLDhCQUE4QixDQUFDLGNBQWMsRUFDN0MsNkJBQTZCLENBQUMsa0JBQWtCLEVBQ2hELDZCQUE2QixDQUFDLGFBQWE7RUFDaEQsV0FBVyxFQUFFLE1BQU07RUFDbkIsVUFBVSxFQUFFLE1BQU07O0FBR3BCLFVBQVU7RUFDUixXQUFXLEVBQUUsdUJBQXVCO0VBQ3BDLEdBQUcsRUFBRSx5Q0FBeUM7RUFDOUMsR0FBRyxFQUFFLFVBQVUsRUFDViwwQ0FBMEMsQ0FBQyxjQUFjLEVBQ3pELHlDQUF5QyxDQUFDLGtCQUFrQixFQUM1RCx5Q0FBeUMsQ0FBQyxhQUFhO0VBQzVELFdBQVcsRUFBRSxNQUFNO0VBQ25CLFVBQVUsRUFBRSxNQUFNOztBRHpHcEIsNEJBQTRCO0FBRTVCLEFBQUEsT0FBTyxDQUFBO0VBQ0wsVUFBVSxFQUFFLDBCQUEwQixDQUFDLFNBQVMsQ0FBQyxDQUFDLENBQUMsQ0FBQztFQUNwRCxNQUFNLEVBQUMsTUFBTSxHQUNkOztBQUVELEFBQUEsVUFBVSxDQUFBO0VBQ1IsTUFBTSxFQUFDLE1BQU0sR0FDZDs7QUFFRCxBQUFBLFdBQVcsQ0FBQTtFQUNULE1BQU0sRUFBQyxJQUFJO0VBQ1gsYUFBYSxFQUFFLEdBQUcsQ0FBQyxLQUFLLENBQUMsT0FBYSxHQUN2Qzs7QUFFRCxBQUFBLEtBQUssQ0FBQTtFQUNILE1BQU0sRUFBRSxPQUFPO0VBQ2YsV0FBVyxFQUFFLElBQUksR0FDbEI7O0FBRUQsQUFBQSxZQUFZLENBQUE7RUFDVixNQUFNLEVBQUMsSUFBSTtFQUNYLFdBQVcsRUFBRSxJQUFJO0VBQ2pCLEtBQUssRUFBQyxJQUFJO0VBQ1YsVUFBVSxFQUFFLEtBQUs7RUFDakIsYUFBYSxFQUFFLENBQUMsR0FDakI7O0FBRUQsQUFBQSxpQkFBaUIsQ0FBQTtFQUNmLE9BQU8sRUFBRSxZQUFZO0VBQ3JCLFVBQVUsRUFBRSxJQUFJO0VBQ2hCLE9BQU8sRUFBQyxDQUFDO0VBQ1QsTUFBTSxFQUFDLENBQUMsR0FDVDs7QUFFRCxBQUFBLGlCQUFpQixDQUFBO0VBQ2YsS0FBSyxFQUFDLElBQUk7RUFDVixRQUFRLEVBQUUsUUFBUTtFQUNsQixZQUFZLEVBQUUsSUFBSTtFQUNsQixhQUFhLEVBQUUsSUFBSSxHQUNwQjs7QUFHRCxBQUFBLGlCQUFpQixDQUFBO0VBQ2YsUUFBUSxFQUFFLFFBQVE7RUFDbEIsT0FBTyxFQUFFLFlBQVk7RUFDckIsTUFBTSxFQUFFLElBQUk7RUFDWixlQUFlLEVBQUUsSUFBSTtFQUNyQixJQUFJLEVBQUUsaUJBQWlCO0VBQ3ZCLEtBQUssRUFBQyxLQUFLLEdBQ1o7O0FBRUQsQUFBQSxzQkFBc0IsQ0FBQTtFQUNwQixhQUFhLEVBQUUsQ0FBQyxHQUNqQjs7QUFFRCxBQUFBLGlCQUFpQixBQUFBLE1BQU0sQ0FBQTtFQUNyQixhQUFhLEVBQUUsZUFBZSxHQUMvQjs7QUFDRCxnQ0FBZ0MiCn0= */