@import '_fonts';

/*--------HEADER----------*/

.header{
  background-image: url('../img/headerBg.png');
  height:1064px;
}

.container{
  height:1064px;
}

.header-nav{
  height:90px;
  border-bottom: 1px solid rgb(46,47,49);
}

.logo{
  height: inherit;
  line-height: 90px;
}

.header-menu{
  height:90px;
  line-height: 90px;
  float:left;
  text-align: right;
  padding-right: 0;
}

.header-menu-list{
  display: inline-block;
  list-style: none;
  padding:0;
  margin:0;
}

.header-menu-item{
  float:left;
  position: relative;
  padding-left: 34px;
  padding-right: 34px;
}


.header-menu-link{
  position: relative;
  display: inline-block;
  height: 56px;
  text-decoration: none;
  font: 16px Lato-Regular;
  color:white;
}

.header-menu-last-item{
  padding-right: 0;
}

.header-menu-link:hover{
  border-bottom: 1px solid white;
}
/*--------END HEADER----------*/