@font-face {
  font-family: 'Lato-Black';
  src: url("../fonts/Lato-Black.eot");
  src: local("?"), url("../fonts/Lato-Black.woff") format("woff"), url("../fonts/Lato-Black.ttf") format("truetype"), url("../fonts/Lato-Black.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato-Bold';
  src: url("../fonts/Lato-Bold.eot");
  src: local("?"), url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.ttf") format("truetype"), url("../fonts/Lato-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato-Heavy';
  src: url("../fonts/Lato-Heavy.eot");
  src: local("?"), url("../fonts/Lato-Heavy.woff") format("woff"), url("../fonts/Lato-Heavy.ttf") format("truetype"), url("../fonts/Lato-Heavy.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato-Light';
  src: url("../fonts/Lato-Light.eot");
  src: local("?"), url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.ttf") format("truetype"), url("../fonts/Lato-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato-LightItalic';
  src: url("../fonts/Lato-LightItalic.eot");
  src: local("?"), url("../fonts/Lato-LightItalic.woff") format("woff"), url("../fonts/Lato-LightItalic.ttf") format("truetype"), url("../fonts/Lato-LightItalic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato-Medium';
  src: url("../fonts/Lato-Medium.eot");
  src: local("?"), url("../fonts/Lato-Medium.woff") format("woff"), url("../fonts/Lato-Medium.ttf") format("truetype"), url("../fonts/Lato-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato-Regular';
  src: url("../fonts/Lato-Regular.eot");
  src: local("?"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato-Semibold';
  src: url("../fonts/Lato-Semibold.eot");
  src: local("?"), url("../fonts/Lato-Semibold.woff") format("woff"), url("../fonts/Lato-Semibold.ttf") format("truetype"), url("../fonts/Lato-Semibold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato-Thin';
  src: url("../fonts/Lato-Thin.eot");
  src: local("?"), url("../fonts/Lato-Thin.woff") format("woff"), url("../fonts/Lato-Thin.ttf") format("truetype"), url("../fonts/Lato-Thin.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat-UltraLight';
  src: url("../fonts/Montserrat-UltraLight.eot");
  src: local("?"), url("../fonts/Montserrat-UltraLight.woff") format("woff"), url("../fonts/Montserrat-UltraLight.ttf") format("truetype"), url("../fonts/Montserrat-UltraLight.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

.clearfix {
  content: "";
  clear: both;
  display: table; }

/*--------HEADER----------*/
.header {
  background: url("../img/headerBg.png") no-repeat 0 0;
  height: 1064px; }

.container {
  height: 944px; }

.header-nav {
  height: 90px;
  border-bottom: 1px solid #2e2f31; }

.logo {
  height: inherit;
  line-height: 90px; }

.header-menu {
  height: 90px;
  line-height: 90px;
  float: left;
  text-align: right;
  padding-right: 0; }

.header-menu-list {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0; }

.header-menu-item {
  float: left;
  position: relative;
  padding-left: 34px;
  padding-right: 34px; }

.header-menu-link {
  position: relative;
  display: inline-block;
  height: 56px;
  text-decoration: none;
  font: 16px Lato-Regular;
  color: white; }

.header-menu-last-item {
  padding-right: 0; }

.header-menu-link:hover {
  border-bottom: 1px solid white; }

.greeting {
  height: 855px;
  text-align: center;
  width: 100%;
  display: table; }
  .greeting h1 {
    margin: 0;
    text-transform: uppercase;
    color: white;
    font-family: 'Myriad Pro';
    font-size: 72px;
    font-weight: 700; }
  .greeting p {
    color: white;
    font-family: 'Georgia';
    font-size: 32px;
    font-style: italic;
    line-height: 47px; }

.greeting-align {
  display: table-cell;
  vertical-align: middle;
  height: inherit; }

.authorization {
  position: relative;
  width: 100%;
  height: 120px;
  background-color: rgba(47, 172, 108, 0.91);
  z-index: 0; }

.login {
  float: left;
  width: 50%;
  height: inherit;
  background: url("../img/logBg.png") no-repeat 0 0;
  background-size: cover;
  clip-path: polygon(0% 0%, 100% 0%, 95% 100%, 0% 100%); }

.login:hover {
  background-color: #21d7fa; }

.register {
  position: relative;
  margin-left: 47.5%;
  width: 52.5%;
  height: inherit;
  clip-path: polygon(5% 0%, 100% 0%, 100% 100%, 0% 100%); }

.register:hover {
  background-color: #2fc36c; }

.login-text, .register-text {
  height: inherit;
  line-height: 120px;
  color: white;
  font-family: Lato-Regular;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 50%; }

.register-text {
  margin-left: 30%; }

/*--------END HEADER----------*/
/*----------DOMAIN----------*/
.domain-bg {
  background-color: white; }

.domain-headline {
  margin-top: 90px;
  text-align: center;
  color: #383737;
  font-family: Lato-Regular;
  font-size: 24px;
  font-weight: 800; }

.domain-container {
  height: 578px; }

.domain-description {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 30px;
  color: #a2a2a2;
  font-family: Montserrat-UltraLight;
  font-size: 16px;
  font-weight: 200; }

.input-domain {
  width: 880px;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  outline: 1px solid #d9d9d9; }

.www {
  text-align: center;
  background-color: white;
  width: 70px;
  height: inherit;
  line-height: 50px;
  border-right: 0;
  color: #cbcbcb;
  font-size: 14px;
  font-family: Lato-Thin;
  font-weight: 400;
  float: left; }

.vert {
  position: relative;
  margin-top: 9px;
  width: 1px;
  margin-left: -2px;
  height: 32px;
  background-color: #d9d9d9;
  float: left; }

.domain-name {
  width: 728px;
  height: inherit;
  padding-left: 15px;
  float: left;
  color: #868686;
  border: none; }

.domain-name:focus {
  outline: none; }

.fa-angle-down {
  position: absolute;
  background-color: white;
  width: 15px;
  margin-left: 60px;
  line-height: 48px;
  color: #cbcbcb;
  z-index: 1; }

.select-domain {
  border: 1px solid #d9d9d9;
  border-left: 0;
  outline: none; }

.select-domain:focus {
  outline: none;
  border-left: none; }

.select-domain:hover {
  border: none;
  border-left: 0;
  outline: none; }

.select-domain {
  position: relative;
  width: 80px;
  height: 50px;
  padding-left: 15px;
  z-index: 0;
  border: none;
  color: #cbcbcb; }

/*----------END DOMAIN----------*/

/*# sourceMappingURL=data:application/json;base64,ewoJInZlcnNpb24iOiAzLAoJImZpbGUiOiAic3R5bGUuY3NzIiwKCSJzb3VyY2VzIjogWwoJCSJzdHlsZS5zY3NzIiwKCQkiX2ZvbnRzLnNjc3MiCgldLAoJIm5hbWVzIjogW10sCgkibWFwcGluZ3MiOiAiQUNBQSxVQUFVO0VBQ1IsV0FBVyxFQUFFLFlBQVk7RUFDekIsR0FBRyxFQUFFLDhCQUE4QjtFQUNuQyxHQUFHLEVBQUUsVUFBVSxFQUNWLCtCQUErQixDQUFDLGNBQWMsRUFDOUMsOEJBQThCLENBQUMsa0JBQWtCLEVBQ2pELDhCQUE4QixDQUFDLGFBQWE7RUFDakQsV0FBVyxFQUFFLE1BQU07RUFDbkIsVUFBVSxFQUFFLE1BQU07O0FBR3BCLFVBQVU7RUFDUixXQUFXLEVBQUUsV0FBVztFQUN4QixHQUFHLEVBQUUsNkJBQTZCO0VBQ2xDLEdBQUcsRUFBRSxVQUFVLEVBQ1YsOEJBQThCLENBQUMsY0FBYyxFQUM3Qyw2QkFBNkIsQ0FBQyxrQkFBa0IsRUFDaEQsNkJBQTZCLENBQUMsYUFBYTtFQUNoRCxXQUFXLEVBQUUsTUFBTTtFQUNuQixVQUFVLEVBQUUsTUFBTTs7QUFHcEIsVUFBVTtFQUNSLFdBQVcsRUFBRSxZQUFZO0VBQ3pCLEdBQUcsRUFBRSw4QkFBOEI7RUFDbkMsR0FBRyxFQUFFLFVBQVUsRUFDViwrQkFBK0IsQ0FBQyxjQUFjLEVBQzlDLDhCQUE4QixDQUFDLGtCQUFrQixFQUNqRCw4QkFBOEIsQ0FBQyxhQUFhO0VBQ2pELFdBQVcsRUFBRSxNQUFNO0VBQ25CLFVBQVUsRUFBRSxNQUFNOztBQUdwQixVQUFVO0VBQ1IsV0FBVyxFQUFFLFlBQVk7RUFDekIsR0FBRyxFQUFFLDhCQUE4QjtFQUNuQyxHQUFHLEVBQUUsVUFBVSxFQUNWLCtCQUErQixDQUFDLGNBQWMsRUFDOUMsOEJBQThCLENBQUMsa0JBQWtCLEVBQ2pELDhCQUE4QixDQUFDLGFBQWE7RUFDakQsV0FBVyxFQUFFLE1BQU07RUFDbkIsVUFBVSxFQUFFLE1BQU07O0FBR3BCLFVBQVU7RUFDUixXQUFXLEVBQUUsa0JBQWtCO0VBQy9CLEdBQUcsRUFBRSxvQ0FBb0M7RUFDekMsR0FBRyxFQUFFLFVBQVUsRUFDVixxQ0FBcUMsQ0FBQyxjQUFjLEVBQ3BELG9DQUFvQyxDQUFDLGtCQUFrQixFQUN2RCxvQ0FBb0MsQ0FBQyxhQUFhO0VBQ3ZELFdBQVcsRUFBRSxNQUFNO0VBQ25CLFVBQVUsRUFBRSxNQUFNOztBQUdwQixVQUFVO0VBQ1IsV0FBVyxFQUFFLGFBQWE7RUFDMUIsR0FBRyxFQUFFLCtCQUErQjtFQUNwQyxHQUFHLEVBQUUsVUFBVSxFQUNWLGdDQUFnQyxDQUFDLGNBQWMsRUFDL0MsK0JBQStCLENBQUMsa0JBQWtCLEVBQ2xELCtCQUErQixDQUFDLGFBQWE7RUFDbEQsV0FBVyxFQUFFLE1BQU07RUFDbkIsVUFBVSxFQUFFLE1BQU07O0FBR3BCLFVBQVU7RUFDUixXQUFXLEVBQUUsY0FBYztFQUMzQixHQUFHLEVBQUUsZ0NBQWdDO0VBQ3JDLEdBQUcsRUFBRSxVQUFVLEVBQ1YsaUNBQWlDLENBQUMsY0FBYyxFQUNoRCxnQ0FBZ0MsQ0FBQyxrQkFBa0IsRUFDbkQsZ0NBQWdDLENBQUMsYUFBYTtFQUNuRCxXQUFXLEVBQUUsTUFBTTtFQUNuQixVQUFVLEVBQUUsTUFBTTs7QUFHcEIsVUFBVTtFQUNSLFdBQVcsRUFBRSxlQUFlO0VBQzVCLEdBQUcsRUFBRSxpQ0FBaUM7RUFDdEMsR0FBRyxFQUFFLFVBQVUsRUFDVixrQ0FBa0MsQ0FBQyxjQUFjLEVBQ2pELGlDQUFpQyxDQUFDLGtCQUFrQixFQUNwRCxpQ0FBaUMsQ0FBQyxhQUFhO0VBQ3BELFdBQVcsRUFBRSxNQUFNO0VBQ25CLFVBQVUsRUFBRSxNQUFNOztBQUdwQixVQUFVO0VBQ1IsV0FBVyxFQUFFLFdBQVc7RUFDeEIsR0FBRyxFQUFFLDZCQUE2QjtFQUNsQyxHQUFHLEVBQUUsVUFBVSxFQUNWLDhCQUE4QixDQUFDLGNBQWMsRUFDN0MsNkJBQTZCLENBQUMsa0JBQWtCLEVBQ2hELDZCQUE2QixDQUFDLGFBQWE7RUFDaEQsV0FBVyxFQUFFLE1BQU07RUFDbkIsVUFBVSxFQUFFLE1BQU07O0FBR3BCLFVBQVU7RUFDUixXQUFXLEVBQUUsdUJBQXVCO0VBQ3BDLEdBQUcsRUFBRSx5Q0FBeUM7RUFDOUMsR0FBRyxFQUFFLFVBQVUsRUFDViwwQ0FBMEMsQ0FBQyxjQUFjLEVBQ3pELHlDQUF5QyxDQUFDLGtCQUFrQixFQUM1RCx5Q0FBeUMsQ0FBQyxhQUFhO0VBQzVELFdBQVcsRUFBRSxNQUFNO0VBQ25CLFVBQVUsRUFBRSxNQUFNOztBRHpHcEIsQUFBQSxTQUFTLENBQUE7RUFDUCxPQUFPLEVBQUMsRUFBRTtFQUNWLEtBQUssRUFBQyxJQUFJO0VBQ1YsT0FBTyxFQUFFLEtBQUssR0FDZjs7QUFDRCw0QkFBNEI7QUFFNUIsQUFBQSxPQUFPLENBQUE7RUFDTCxVQUFVLEVBQUUsMEJBQTBCLENBQUMsU0FBUyxDQUFDLENBQUMsQ0FBQyxDQUFDO0VBQ3BELE1BQU0sRUFBQyxNQUFNLEdBQ2Q7O0FBRUQsQUFBQSxVQUFVLENBQUE7RUFDUixNQUFNLEVBQUMsS0FBSyxHQUNiOztBQUVELEFBQUEsV0FBVyxDQUFBO0VBQ1QsTUFBTSxFQUFDLElBQUk7RUFDWCxhQUFhLEVBQUUsR0FBRyxDQUFDLEtBQUssQ0FBQyxPQUFhLEdBQ3ZDOztBQUVELEFBQUEsS0FBSyxDQUFBO0VBQ0gsTUFBTSxFQUFFLE9BQU87RUFDZixXQUFXLEVBQUUsSUFBSSxHQUNsQjs7QUFFRCxBQUFBLFlBQVksQ0FBQTtFQUNWLE1BQU0sRUFBQyxJQUFJO0VBQ1gsV0FBVyxFQUFFLElBQUk7RUFDakIsS0FBSyxFQUFDLElBQUk7RUFDVixVQUFVLEVBQUUsS0FBSztFQUNqQixhQUFhLEVBQUUsQ0FBQyxHQUNqQjs7QUFFRCxBQUFBLGlCQUFpQixDQUFBO0VBQ2YsT0FBTyxFQUFFLFlBQVk7RUFDckIsVUFBVSxFQUFFLElBQUk7RUFDaEIsT0FBTyxFQUFDLENBQUM7RUFDVCxNQUFNLEVBQUMsQ0FBQyxHQUNUOztBQUVELEFBQUEsaUJBQWlCLENBQUE7RUFDZixLQUFLLEVBQUMsSUFBSTtFQUNWLFFBQVEsRUFBRSxRQUFRO0VBQ2xCLFlBQVksRUFBRSxJQUFJO0VBQ2xCLGFBQWEsRUFBRSxJQUFJLEdBQ3BCOztBQUdELEFBQUEsaUJBQWlCLENBQUE7RUFDZixRQUFRLEVBQUUsUUFBUTtFQUNsQixPQUFPLEVBQUUsWUFBWTtFQUNyQixNQUFNLEVBQUUsSUFBSTtFQUNaLGVBQWUsRUFBRSxJQUFJO0VBQ3JCLElBQUksRUFBRSxpQkFBaUI7RUFDdkIsS0FBSyxFQUFDLEtBQUssR0FDWjs7QUFFRCxBQUFBLHNCQUFzQixDQUFBO0VBQ3BCLGFBQWEsRUFBRSxDQUFDLEdBQ2pCOztBQUVELEFBQUEsaUJBQWlCLEFBQUEsTUFBTSxDQUFBO0VBQ3JCLGFBQWEsRUFBRSxlQUFlLEdBQy9COztBQUVELEFBQUEsU0FBUyxDQUFBO0VBQ1AsTUFBTSxFQUFDLEtBQUs7RUFDWixVQUFVLEVBQUUsTUFBTTtFQUNsQixLQUFLLEVBQUUsSUFBSTtFQUNYLE9BQU8sRUFBRSxLQUFLLEdBa0JmO0VBdEJELEFBTUksU0FOSyxDQU1MLEVBQUUsQ0FBQTtJQUNBLE1BQU0sRUFBQyxDQUFDO0lBQ1IsY0FBYyxFQUFFLFNBQVM7SUFDekIsS0FBSyxFQUFFLEtBQUs7SUFDWixXQUFXLEVBQUUsWUFBWTtJQUN6QixTQUFTLEVBQUUsSUFBSTtJQUNmLFdBQVcsRUFBRSxHQUFHLEdBQ2pCO0VBYkwsQUFlSSxTQWZLLENBZUwsQ0FBQyxDQUFBO0lBQ0MsS0FBSyxFQUFFLEtBQUs7SUFDWixXQUFXLEVBQUUsU0FBUztJQUN0QixTQUFTLEVBQUUsSUFBSTtJQUNmLFVBQVUsRUFBRSxNQUFNO0lBQ2xCLFdBQVcsRUFBRSxJQUFJLEdBQ2xCOztBQUdMLEFBQUEsZUFBZSxDQUFBO0VBQ2IsT0FBTyxFQUFFLFVBQVU7RUFDbkIsY0FBYyxFQUFFLE1BQU07RUFDdEIsTUFBTSxFQUFFLE9BQU8sR0FDaEI7O0FBRUQsQUFBQSxjQUFjLENBQUE7RUFDWixRQUFRLEVBQUUsUUFBUTtFQUNsQixLQUFLLEVBQUUsSUFBSTtFQUNYLE1BQU0sRUFBQyxLQUFLO0VBQ1osZ0JBQWdCLEVBQUUsd0JBQXdCO0VBQzFDLE9BQU8sRUFBRSxDQUFDLEdBQ1g7O0FBRUQsQUFBQSxNQUFNLENBQUE7RUFDSixLQUFLLEVBQUMsSUFBSTtFQUNWLEtBQUssRUFBRSxHQUFHO0VBQ1YsTUFBTSxFQUFFLE9BQU87RUFDZixVQUFVLEVBQUUsdUJBQXVCLENBQUMsU0FBUyxDQUFDLENBQUMsQ0FBQyxDQUFDO0VBQ2pELGVBQWUsRUFBRSxLQUFLO0VBQ3RCLFNBQVMsRUFBRSwwQ0FBMEMsR0FDdEQ7O0FBRUQsQUFBQSxNQUFNLEFBQUEsTUFBTSxDQUFBO0VBQ1YsZ0JBQWdCLEVBQUUsT0FBaUIsR0FDcEM7O0FBRUQsQUFBQSxTQUFTLENBQUE7RUFDUCxRQUFRLEVBQUUsUUFBUTtFQUNsQixXQUFXLEVBQUUsS0FBSztFQUNsQixLQUFLLEVBQUUsS0FBSztFQUNaLE1BQU0sRUFBRSxPQUFPO0VBQ2YsU0FBUyxFQUFFLDJDQUEyQyxHQUN2RDs7QUFFRCxBQUFBLFNBQVMsQUFBQSxNQUFNLENBQUE7RUFDYixnQkFBZ0IsRUFBRSxPQUFpQixHQUNwQzs7QUFFRCxBQUFBLFdBQVcsRUFXWCxBQVhBLGNBV2MsQ0FYSDtFQUNULE1BQU0sRUFBQyxPQUFPO0VBQ2QsV0FBVyxFQUFFLEtBQUs7RUFDbEIsS0FBSyxFQUFFLEtBQUs7RUFDWixXQUFXLEVBQUUsWUFBWTtFQUN6QixTQUFTLEVBQUUsSUFBSTtFQUNmLFdBQVcsRUFBRSxHQUFHO0VBQ2hCLGNBQWMsRUFBRSxTQUFTO0VBQ3pCLFdBQVcsRUFBRSxHQUFHLEdBQ2pCOztBQUVELEFBQUEsY0FBYyxDQUFBO0VBRVosV0FBVyxFQUFFLEdBQ2YsR0FBRTs7QUFDRixnQ0FBZ0M7QUFFaEMsOEJBQThCO0FBQzlCLEFBQUEsVUFBVSxDQUFBO0VBQ1IsZ0JBQWdCLEVBQUUsS0FBSyxHQUN4Qjs7QUFFRCxBQUFBLGdCQUFnQixDQUFBO0VBQ2QsVUFBVSxFQUFFLElBQUk7RUFDaEIsVUFBVSxFQUFFLE1BQU07RUFDbEIsS0FBSyxFQUFFLE9BQU87RUFDZCxXQUFXLEVBQUUsWUFBWTtFQUN6QixTQUFTLEVBQUUsSUFBSTtFQUNmLFdBQVcsRUFBRSxHQUFHLEdBQ2pCOztBQUVELEFBQUEsaUJBQWlCLENBQUE7RUFDZixNQUFNLEVBQUMsS0FBSyxHQUNiOztBQUVELEFBQUEsbUJBQW1CLENBQUE7RUFDakIsVUFBVSxFQUFFLE1BQU07RUFDbEIsV0FBVyxFQUFFLElBQUk7RUFDakIsY0FBYyxFQUFFLElBQUk7RUFDcEIsS0FBSyxFQUFFLE9BQU87RUFDZCxXQUFXLEVBQUUscUJBQXFCO0VBQ2xDLFNBQVMsRUFBRSxJQUFJO0VBQ2YsV0FBVyxFQUFFLEdBQUcsR0FDakI7O0FBRUQsQUFBQSxhQUFhLENBQUE7RUFDWCxLQUFLLEVBQUUsS0FBSztFQUNaLFdBQVcsRUFBRSxJQUFJO0VBQ2pCLFlBQVksRUFBRSxJQUFJO0VBQ2xCLE1BQU0sRUFBRSxJQUFJO0VBQ1osT0FBTyxFQUFDLEdBQUcsQ0FBQyxLQUFLLENBQUMsT0FBZ0IsR0FDbkM7O0FBQ0QsQUFBQSxJQUFJLENBQUE7RUFDRixVQUFVLEVBQUUsTUFBTTtFQUNsQixnQkFBZ0IsRUFBRSxLQUFLO0VBQ3ZCLEtBQUssRUFBQyxJQUFJO0VBQ1YsTUFBTSxFQUFFLE9BQU87RUFDZixXQUFXLEVBQUUsSUFBSTtFQUNqQixZQUFZLEVBQUUsQ0FBQztFQUNmLEtBQUssRUFBRSxPQUFPO0VBQ2QsU0FBUyxFQUFFLElBQUk7RUFDZixXQUFXLEVBQUUsU0FBUztFQUN0QixXQUFXLEVBQUUsR0FBRztFQUNoQixLQUFLLEVBQUUsSUFBSSxHQUNaOztBQUVELEFBQUEsS0FBSyxDQUFBO0VBQ0gsUUFBUSxFQUFFLFFBQVE7RUFDbEIsVUFBVSxFQUFFLEdBQUc7RUFDZixLQUFLLEVBQUUsR0FBRztFQUNWLFdBQVcsRUFBRSxJQUFJO0VBQ2pCLE1BQU0sRUFBRSxJQUFJO0VBQ1osZ0JBQWdCLEVBQUUsT0FBTztFQUN6QixLQUFLLEVBQUUsSUFBSSxHQUNaOztBQUVELEFBQUEsWUFBWSxDQUFBO0VBQ1YsS0FBSyxFQUFDLEtBQUs7RUFDWCxNQUFNLEVBQUMsT0FBTztFQUNkLFlBQVksRUFBRSxJQUFJO0VBQ2xCLEtBQUssRUFBRSxJQUFJO0VBQ1gsS0FBSyxFQUFDLE9BQU87RUFDYixNQUFNLEVBQUUsSUFBSSxHQUNiOztBQUVELEFBQUEsWUFBWSxBQUFBLE1BQU0sQ0FBQTtFQUNoQixPQUFPLEVBQUUsSUFBSSxHQUNkOztBQUVELEFBQUEsY0FBYyxDQUFBO0VBQ1osUUFBUSxFQUFFLFFBQVE7RUFDbEIsZ0JBQWdCLEVBQUUsS0FBSztFQUN2QixLQUFLLEVBQUMsSUFBSTtFQUNWLFdBQVcsRUFBRSxJQUFJO0VBQ2pCLFdBQVcsRUFBRSxJQUFJO0VBQ2pCLEtBQUssRUFBRSxPQUFPO0VBQ2QsT0FBTyxFQUFDLENBQUMsR0FDVjs7QUFFRCxBQUFBLGNBQWMsQ0FBQTtFQUNaLE1BQU0sRUFBQyxHQUFHLENBQUMsS0FBSyxDQUFDLE9BQWdCO0VBQ2pDLFdBQVcsRUFBRSxDQUFDO0VBQ2QsT0FBTyxFQUFFLElBQUksR0FDZDs7QUFFRCxBQUFBLGNBQWMsQUFBQSxNQUFNLENBQUE7RUFDbEIsT0FBTyxFQUFFLElBQUk7RUFDYixXQUFXLEVBQUUsSUFBSSxHQUNsQjs7QUFFRCxBQUFBLGNBQWMsQUFBQSxNQUFNLENBQUE7RUFDbEIsTUFBTSxFQUFDLElBQUk7RUFDWCxXQUFXLEVBQUUsQ0FBQztFQUNkLE9BQU8sRUFBRSxJQUFJLEdBQ2Q7O0FBRUQsQUFBQSxjQUFjLENBQUE7RUFDWixRQUFRLEVBQUUsUUFBUTtFQUNsQixLQUFLLEVBQUUsSUFBSTtFQUNYLE1BQU0sRUFBRSxJQUFJO0VBQ1osWUFBWSxFQUFFLElBQUk7RUFDbEIsT0FBTyxFQUFFLENBQUM7RUFDVixNQUFNLEVBQUUsSUFBSTtFQUNaLEtBQUssRUFBRSxPQUFPLEdBQ2Y7O0FBQ0Qsa0NBQWtDIgp9 */